.offer-cars-container {
    position: relative;

    .offer-cars-net {
        position: absolute;
        right: 5%;
        top: 50%;
        z-index: -1;
    }
}

.offer-cars-header {
    display: flex;
    align-items: center;
    gap: 7vw;
    margin-bottom: 10vw;

    @include responsive('small') {
        flex-direction: column;
        align-items: flex-start;
    }
}

.offer-cars-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vw 1vw;
    position: relative;

    @include responsive('tablet') {
        grid-template-columns: 1fr;
    }

    .offer-cars-glow {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        border-radius: 50%;
        width: 40vw;
        height: 40vw;
        background: $gradient;
        filter: blur(150px);

        @include responsive('tablet') {
            display: none;
        }
    }
}

.offer-cars-main-header {
    text-align: center;
}

.offer-cars-main-arrow {
    margin-top: 50px;
    margin-left: -120px;

    @include responsive('tablet') {
        margin-left: 0;
        margin-top: 25px;
    }
}

.offer-cars-descriptions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5vw;
    margin-top: -100px;
    justify-items: center;

    @include responsive('small') {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 5vw;
        margin-top: -50px;
    }
    
    .gradient-outline-tile {
        padding: 1.5vw;

        @include responsive('tablet') {
            width: min(40vw, 400px);
            padding: 3vw;
        }

        @include responsive('small') {
            width: 400px;
            padding: 40px;
        }

        @include responsive('mobile') {
            width: 100%;
        }
    }
}