@use "sass:color";

.cars-container {
    position: relative;
    padding-bottom: 160px;

    .cars-glow {
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translateX(-50%);
        z-index: -1;
        border-radius: 50%;
        width: 1000px;
        height: 1000px;
        background: $gradient;
        filter: blur(150px);
    }

    .cars-description-right {
        position: absolute;
        right: 0;
        top: 45%;

        @include responsive('tablet') {
            top: 40%;
        }

        @include responsive('small') {
            position: static;
            margin: auto;
            margin-top: 100px;
        }
    }

    .cars-description-bottom {
        position: absolute;
        bottom: 0;
        left: 18%;

        @include responsive('tablet') {
            bottom: -10%;
            left: 0;
        }

        @include responsive('small') {
            position: static;
            margin: auto;
            margin-top: 60px;
        }
    }
}

.cars-header-buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;

    @include responsive('small') {
        flex-direction: column;
        align-items: flex-start;
    }
}

.cars-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cars-buttons {
    padding-top: 40px;

    @include responsive('tablet') {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .button--outline {
            justify-content: center;
            width: 100%;
        }
    }

    & > *:first-child {
        margin-right: 20px;

        @include responsive('tablet') {
            margin: 0;
        }
    }
}

.cars-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.cars-main-arrow {
    margin-top: 50px;
    margin-left: -120px;

    @include responsive('tablet') {
        margin-left: 0;
        margin-top: 25px;
    }
}

.cars-image {
    transform: scale(1.3);
}