@use "sass:color";

.cars-container {
    position: relative;
    padding-bottom: 160px;

    .cars-glow {
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translateX(-50%);
        z-index: -1;
        border-radius: 50%;
        width: 40vw;
        height: 40vw;
        background: $gradient;
        filter: blur(150px);

        @include responsive('tablet') {
            top: 40%;
        }
    }

    .cars-description-right {
        position: absolute;
        right: 0;
        top: 45%;
        display: block;

        svg {
            margin-bottom: 10px;
        }

        @include responsive('tablet') {
            top: 40%;
        }

        @include responsive('small') {
            position: relative;
            margin: 100px auto auto;
        }
    }

    .cars-description-bottom {
        position: absolute;
        bottom: 15%;
        left: 0;
        display: block;

        svg {
            margin-bottom: 10px;
        }

        @include responsive('small') {
            position: relative;
            margin: 60px auto auto;
        }
    }

    .gradient-outline-tile {
        aspect-ratio: 5 / 3;
        h3 {
            font-size: clamp(24px, 1.75vw, 36px);
            font-weight: 600;
        }
    }
}

.cars-header-buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;

    @include responsive('small') {
        flex-direction: column;
        align-items: flex-start;
    }
}

.cars-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

// .cars-buttons > button {
//     @extend .button--outline;
//     width: 210px;

//     &.active {
//         @extend .button;
//         width: 100%;
//     }

//     @include responsive('tablet') {
//         width: 100%;
//     }
// }

.cars-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    column-gap: 16px;
    padding-top: 40px;

    button {
        width: 100%;
        text-align: center;
        justify-content: center;
        @extend .button--outline;
        width: 210px;

        &.active {
            @extend .button;
            width: 100%;

            @include responsive('small') {
                font-size: 14px;
                padding: 10px;
            }
        }
    
        @include responsive('tablet') {
            width: 100%;
        }

        @include responsive('small') {
            font-size: 14px;
            padding: 10px;
        }
    }

    @include responsive('tablet') {
        width: 100%;
        gap: 8px;
        
        .button--outline {
            justify-content: center;
            width: 100%;
        }
    }
}

.cars-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.cars-main-arrow {
    margin-top: 50px;
    margin-left: -120px;

    @include responsive('tablet') {
        margin-left: 0;
        margin-top: 25px;
    }
}

.cars-image > img {
    opacity: 0;
    visibility: hidden;
    width: 0;
    @include transition(opacity, visibility);

    &.active {
        opacity: 1;
        visibility: visible;
        width: 100%;
        @include transition(opacity, visibility);
    }
}

.cars-description-right-text {
    opacity: 0;
    transform: scale(0);
    height: 0;

    &.active {
        opacity: 1;
        transform: scale(1);
    }
}

.cars-description-bottom-text {
    opacity: 0;
    transform: scale(0);
    height: 0;

    &.active {
        opacity: 1;
        transform: scale(1);
    }
}