.offer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 240px 0;
    gap: 50px;

    @include responsive('small') {
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 60px;
    }
}